<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>

<body class="body-container container-fluid">
 
  <header class="header-container sticky-top">
    {{> header}}
  </header>

  <main class="main-container">
    {{{ body }}}
  </main>
   
</body>

</html>